

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    background-color: #fdfdfd;
}

/* ==========================================================================
   Navbar
   ========================================================================== */

/* changes navbar links color/cursor when hovered over */
.nav.navbar-nav li a:hover {
    color: #fdfdfd;
    cursor: pointer;
    cursor: hand;
}

/* ==========================================================================
   Main pic - index.html
   ========================================================================== */

#main-pic-wrapper {
  width: 30%;
  max-width: 960px;
  margin: 0 auto;
}

/* ==========================================================================
   Main paragraph - index.html
   ========================================================================== */

#main-paragraph-wrapper {
    margin-top: 15px;
}

.main-paragraph {
    text-align: center;
}


















